.env
# Logs
*.log
#virtual environment
venv/
env/
ENV/
mlop/
__pycache__/
.vscode/
.idea/
.log
.ipynb_checkpoints
grades.csv
my_project/
*.txt
*.png
model_comparison.csv
sorted_model_comparison.csv
Dataset/
mlflow_data/
mlruns/